@import "src/renderer/config";


.analysis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.selected-snapshots {
  padding: 20px 0;

  &__title {
    font-weight: bold;
    color: $other-color;
    padding: 10px 0;
  }

  &__caption {
    padding: 10px 0;
    text-align: end;
    font-style: italic;

    &--notice {
      padding-left: 10px;
      color: red;
    }
  }
}

.analysis__status {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  p {
    font-style: italic;
    color: $other-color;
  }

  .analysis__button {
    align-self: flex-end;
  }
}