@import "../../config.scss";

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  display: inline-block;
  overflow: auto;

  .dir-table__td {
    color: $text-color;
    border-top: 1px solid $primary-color;
    padding: 10px 0;
  }

  .dir-table__tr:hover {
    background: $primary-color;
  }
}
