$background-color: #ffffff;
$secondary-background-color: #919dac;
$primary-color: #f9f9fb;
$secondary-color: #4a5c7a;
$other-color: #334ce7;
$text-color: #000000;
$active-color: #4a5c7a;
$hover-color: #4a5c7adb;
