@import 'src/renderer/config';

* {
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

h1 {
  padding-bottom: 20px;
}

body {
  letter-spacing: 1px;
  font-family: 'NotoSans', sans-serif;
  color: $text-color;
  background: $background-color;
}

#root {
  display: flex;
  flex-direction: row;
}

button {
  border: 0;
  border-radius: 3px;
  background: $other-color;
  color: $background-color;
  font-weight: bold;
  min-width: 150px;
  min-height: 30px;
  margin: 20px 0;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  @extend button;
  opacity: 0.8;
  cursor: not-allowed;
}
